@import "_variables";
@import "_mixins";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #df6890;
  color: $white;
}

.wrapper {
  color: $white;
  overflow: hidden;
  font: 400 18px/2 'Poppins', Arial, Tahoma, sans-serif;
  background: url("../images/bg.jpg") no-repeat 50%;
  background-size: 100% 100%;

  @include screen(768) {
    background-image: url("../images/bg_mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#logo {
  display: flex;
  align-items: center;

  .lang {
    padding-left: 30px;
  }

  @include screen(768) {
    justify-content: space-between;
  }
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;

  @include screen(680) {
    padding: 0 10px;
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.h2 {
  text-align: center;
}

picture {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $white;
  text-decoration: none;
  font-weight: bold;
}

.cols {
  display: flex;

  @include screen(890) {
    flex-wrap: wrap;
  }
}

.col-50 {
  width: 50%;
  flex-grow: 1;
  

  &:first-child {
    padding-right: 30px;

    @include screen(890) {
      padding: 0;
    }
  }

  &:last-child {
    padding-left: 30px;

    @include screen(890) {
      padding: 0;
    }
  }

  @include screen(890) {
    width: 100%;
  }
}

.col-25 {
  width: 25%;
  flex-grow: 1;

  @include screen(768) {
    display: none;
  }
}

.col-75 {
  width: 75%;
  flex-grow: 1;

  @include screen(768) {
    width: 100%;
  }
}

section {
  margin-bottom: 100px;

  @include screen(1024) {
    margin-bottom: 50px;
  }

  @include screen(540) {
    margin-bottom: 30px;
  }
}

.green {
  color: $green;
  font-weight: bold;
}

.pink {
  color: $pink;
  font-weight: bold;
}

.iframe {
  display: flex;
  flex-direction: column;
  margin: 60px 0;

  @include screen(1024) {
    margin-bottom: 45px;
  }

  @include screen(540) {
    margin-bottom: 30px;
  }
}

#gameFrame {
  height: 500px;
  width: 80%;
  margin: 0 auto;

  @include screen(900) {
    width: 100%;
  }

  @include screen(500) {
    height: 300px;
  }
}

.main-block {
  padding: 15px 0 100px 0;

  @include screen(1024) {
    padding: 15px 0 30px 0;
  }

  h1 {
    margin: 46px 0 5px;

    @include screen(1728) {
      margin: 30px 0 5px;
    }
    @include screen(1060) {
      font-size: 28px;
      line-height: 34px;
      margin: 20px 0 5px;
    }
  }

  .subheading {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.2;

    @include screen(1024) {
      font-size: 18px;
      line-height: 1.45;
    }

    @include screen(890) {
      margin: 10px 0 20px;
    }

    span {
      display: inline-block;
    }
  }

  .description {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;

    p {

      & + p {
        margin-top: 20px;
      }
    }
  }

  .col-50 {
    padding: 0 15px;
    

    &:last-child {
      width: 50%;
      padding: 80px 0 0 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include screen(890) {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 30px;
        display: block;
      }
    }

    @include screen(890) {
      padding: 0 15px;
    }

    &:first-child {
      width: 50%;
      position: relative;
      z-index: 11;

      @include screen(1024) {
        padding-top: 30px;
      }

      @include screen(890) {
        width: 100%;
        padding-top: 0;
        padding-right: 15px;
      }
    }
  }

  .game-img {

    img {

      @include screen(890) {
        max-width: 768px;
      }
    }
  }

  .doctor_lab {

    &.mobile {
      display: none;
    }

    @include screen(768) {
      display: none;

      &.mobile {
        display: inline-block;
        padding: 0;
        width: 100%;
      }
    }
  }
}

.awards {

  .cols {
    align-items: center;
  }

  .col-50 {

    &:first-child {
      width: 48%;

      @include screen(890) {
        order: 1;
        width: 100%;
      }
    }

    &:last-child {
      width: 52%;

      @include screen(890) {
        width: 100%;
      }
    }
  }

  .title-56 {
    margin: 0 0 25px;

    @include screen(890) {
      text-align: center;
    }
  }

  &__text {

    @include screen(890) {
      margin-bottom: 40px;
    }
  }

  p {
    font-size: 21px;
    line-height: 31px;
    text-align: justify;

    @include screen(1240) {
      font-size: 16px;
      line-height: 28px;
    }

    & + p {
      margin-top: 20px;
    }
  }

  img {
    text-align: center;

    @include screen(890) {
      display: none;
    }
  }
}

.details {
  margin-bottom: 100px;

  @include screen(900) {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  @include screen(540) {
    margin-bottom: 30px;
  }

  [class^='details__text-'] {

    margin-bottom: 30px;

    h5 {
      font-size: 24px;
      line-height: 34px;
      font-weight: 700;
      display: inline;

      @include screen(1280) {
        font-size: 20px;
      }
    }

    p {
      display: inline;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
    }
  }

  &__list {
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    @include screen(1350) {
      justify-content: center;
    }

    @include screen(900) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    text-align: center;

    @include screen(1200) {
      margin: 0 0 50px;
    }

    @include screen(900) {
      margin: 0 auto;
    }
  }

  .center {
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    @include screen(900) {
      flex-direction: column;
    }

    [class^='details__item'] {
      flex-direction: column;

      h4 {
        text-align: center;
      }

      img {
        height: auto;
      }
    }
  }

  p {
    font-size: 18px;
    line-height: 28px;

    &.text-center {
      text-align: center;
    }
  }

  h4 {
    font-size: 28px;
    line-height: 34px;
    color: $font_color;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
    white-space: nowrap;

    @include screen(1200) {
      font-size: 24px;
      line-height: 30px;
    }

    @include screen(900) {
      text-align: center;
      margin: 10px 0;
    }

    @include screen(480) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  [class^='details__item'] {
    margin: 0 70px 70px;
    width: 24%;

    @include screen(1550) {
      margin: 45px;
    }

    @include screen(1350) {
      width: 50%;
    }

    @include screen(1024) {
      width: 100%;
    }

    @include screen(1400) {
      margin-bottom: 40px;
    }

    @include screen(900) {
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      margin: 0 0 20px ;
    }

    @include screen(900) {
      flex-direction: column;
      margin: 0 auto 20px;

      & + [class^='details__item'] {
        margin-top: 50px;
      }
    }

    .comment-text {
      color: $font-color;
    }

    img {
      height: 260px;

      @include screen(500) {
        height: 200px;
      }
    }
  }

  .item-center {
    width: 25%;
    align-self: center;

    @include screen(900) {
      flex-direction: column;
      width: 100%;
      max-width: 100%;
    }

    &.details__item2 {
      a {
        padding: 10px 0;

        @include screen(900) {
          padding: 0;
        }

        img {
          margin-top: 15px;
        }
      }
    }
  }

  .left-column {

    @include screen(890) {
      margin-bottom: 60px;
    }
  }

  .symbol__screens {
    margin-bottom: 70px;

    @include screen(890) {
      margin-bottom: 35px;
    }
  }

  ul {
    margin-left: 18px;
  }
}

.table-block {

  p {
    font-size: 21px;
    line-height: 34px;
    text-align: center;

    @include screen(1240) {
      font-size: 16px;
      line-height: 28px;
    }

    & + p {
      margin-top: 20px;
    }

    span {
      font-weight: bold;
      font-size: 18px;
    }

    &.center {
      text-align: center;
    }
  }

  .comment {
    color: $font_color;
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
    text-align: center;
    margin: 25px auto 30px;
    font-style: italic;

    @include screen(1200) {
      margin: 20px auto 30px;
    }

    @include screen(1024) {
      font-size: 24px;
      line-height: 34px;
    }

    @include screen(750) {
      margin: 5px auto 0;
    }
  }

  .table {
    margin-bottom: 150px;

    @include screen(1400) {
      margin-bottom: 75px;
    }

    @include screen(500) {
      margin-bottom: 50px;
    }

    @include screen(414) {
      flex-direction: column;
    }

    .table__title {
      color: $font_color;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      list-style: none;

      @include screen(414) {
        flex-direction: row;
        flex-wrap: nowrap;
      }

      li {
        height: 40px;
        border-radius: 5px;
        background-color: #29225d;
        width: 100%;
        margin: 1px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        align-items: center;
        display: flex;
        justify-content: center;

        @include screen(1024) {
          font-size: 12px;
        }

        @include screen(550) {
          font-size: 10px;
        }

        @include screen(414) {
          height: 90px;
        }

        &.first-line {
          height: 90px;
          padding: 0 2px;

          @include screen(414) {
            padding: 0 10px;
          }
        }
      }
    }
  }

  .mobile {
    display: none;

    @include screen(810) {
      display: table;
    }
  }

  .table__comment {
    font-size: 21px;
    line-height: 34px;
    font-style: italic;

    &-text {
      color: $font_color;
      margin: 30px 0;
    }
  }
}

.specification {

  .btn {
    margin-top: 70px;
  }

  .table {
    display: flex;
    flex-wrap: wrap;

    @include screen(1024) {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }

    &__col {
      width: calc(25% - 3px);
      max-width: calc(25% - 3px);

      @include screen(1024) {
        max-width: 420px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    [class^='table__part-'] {
      width: 50%;
      max-width: 50%;
      display: flex;
      justify-content: space-between;

      @include screen(1024) {
        flex-direction: column;
        align-items: center;
        min-width: 408px;
      }

      @include screen(440) {
        min-width: auto;
        width: 100%;
        max-width: 100%;
      }

      &:first-child {
        padding-right: 3px;

        @include screen(1024) {
          padding: 0;
        }
      }

      &:last-child {
        padding-left: 3px;

        @include screen(1024) {
          padding: 0;
        }
      }

      .cell {
        border-radius: 5px;
        background-color: $table;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        padding: 5px 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include screen(1024) {
          width: calc(50% - 3px);
          max-width: calc(50% - 3px);
          min-width: 202px;
        }

        @include screen(480) {
          min-width: auto;
          font-size: 12px;
        }

        &.td--image {
          padding: 5px;
        }

        &.th {
          margin-bottom: 5px;
          color: $font_color;
        }
      }
    }
  }
}

.marked-list {
  list-style: none;
  padding: 0;

  li {
    text-transform: uppercase;
    color: $white;
    font-size: 24px;
    line-height: 32px;
    padding: 10px 0 10px 71px;
    position: relative;
    margin: 0 0 10px;

    @include screen(1024) {
      font-size: 16px;
      line-height: 24px;
      padding: 10px 0 10px 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
      top: 50%;
      margin-top: -25px;
      background: url("../images/check_icon.png") no-repeat 50%;
      background-size: 100%;

      @include screen(1024) {
        width: 30px;
        height: 30px;
        margin-top: -15px;
      }
    }
  }
}

.btn {
  text-transform: uppercase;
  color: $white;
  background: $green;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  padding: 23px 0;
  border-radius: 8px;
  text-decoration: none;
  transition: .3s;
  margin: 45px auto 0;
  display: inline-block;
  width: 100%;
  max-width: 420px;
  text-align: center;

  @include screen(1400) {
    font-size: 26px;
    padding: 20px 87px;
  }

  @include screen(1024) {
    padding: 13px 78px;
  }

  @include screen(890) {
    display: block;
  }

  @include screen(768) {
    margin-bottom: 20px;
  }

  @include screen(430) {
    padding: 13px 48px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    max-width: 300px;
  }

  &:hover {
    background: #89bc00;
  }
}

.hr-line {
  height: 1px;
  background: $gray;
  opacity: 0.4;
}

.title {
  justify-content: center;
  align-items: center;

  @include screen(768) {
    img {
      display: none;
    }
  }

  h1, .title-56 {
    color: $white;
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
    text-transform: uppercase;

    @include screen(1024) {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 25px;
    }

    @include screen(768) {
      font-size: 36px;
      line-height: 42px;
    }

    @include screen(500) {
      font-size: 32px;
    }
  }

  h3 {
    color: $white;
    font-size: 56px;
    text-transform: uppercase;

    @include screen(1024) {
      font-size: 40px;
    }

    @include screen(768) {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &.highlighted {
    text-align: center;

    .title-56 {
      margin-bottom: 70px;
      position: relative;
      display: inline-block;
      padding: 0 180px;

      @include screen(1280) {
        font-size: 42px;
        line-height: 50px;
        padding: 0 120px;
      }

      @include screen(890) {
        margin-bottom: 25px;
        padding: 0;
      }

      @include screen(768) {
        font-size: 36px;
        line-height: 42px;
      }

      &:before,
      &:after {
        content: '';
        width: 180px;
        height: 60px;
        position: absolute;
        top: calc(50% - 30px);
        left: 0;
        background: url("./images/ray.png") no-repeat 50%;
        background-size: 100% 100%;

        @include screen(1280) {
          width: 120px;
          height: 50px;
          top: calc(50% - 25px);
        }

        @include screen(890) {
          display: none;
        }
      }

      &:after {
        left: auto;
        right: 0;
      }
    }
  }
}

.pre_footer {

  h2 {
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

    @include screen(1024) {
      margin-bottom: 26px;
    }

    @include screen(768) {
      font-size: 18px;
      text-align: left;
    }
  }
}

.providers {

  .list {
    margin-bottom: 30px;
    text-align: justify;
    text-align-last: center;
    padding-right: 40px;

    @include screen(1024) {
      margin: 0 -15px 35px;
    }

    @include screen(768) {
      padding-right: 0;
    }

    img {
      margin: 0 20px 25px 0px;
      max-width: 133px;
      opacity: 0.8;
      filter: sepia(100%) hue-rotate(215deg) saturate(100%);
      -webkit-filter: sepia(100%) hue-rotate(215deg) saturate(100%);
      -moz-filter: sepia(100%) hue-rotate(215deg) saturate(100%);

      @include screen(1024) {
        margin: 0 15px 18px;
        max-width: calc(32.3% - 30px);
      }

      &:last-child {
        @include screen(400) {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

.payment {
  margin-bottom: 30px;

  @include screen(768) {
    margin-bottom: 20px;
    padding: 0;
  }

  p {
    color: $font_color;
    margin-top: -10px;
    text-align: justify;

    @include screen(768) {
      font-size: 14px;
      text-align: justify;
      line-height: 24px;
    }
  }
}

.small-text {
  padding-top: 55px;
  margin-bottom: 32px;

  @include screen(768) {
    padding-top: 30px;
    text-align: justify;
  }

  p {
    font-weight: 300;
    color: $purple;
    font-size: 12px;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
