* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 317px;
  height: 72px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2798b9), to(#3ab6da));
  background-image: -o-linear-gradient(bottom, #2798b9 0%, #3ab6da 100%);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.header {
  min-height: 860px;
  background: url(../img/bg/main_bg.jpeg) center center/cover no-repeat;
  padding-bottom: 61px;
}
.header_icon {
  text-align: center;
  padding-top: 38px;
}
.header_icon h1 {
  margin: 10px 0 53px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.header_text h2 {
  font-weight: 900;
  font-size: 41px;
  text-transform: uppercase;
  color: #f9bf3b;
  text-align: center;
}
.header_text h3 {
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}
.header_text p {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  padding: 22px 0 72px;
  text-align: center;
}
.header_text p span {
  color: #f9bf3b;
}
.header .btn {
  display: block;
  margin: 0 auto;
  width: 317px;
  height: 72px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2798b9), to(#3ab6da));
  background-image: -o-linear-gradient(bottom, #2798b9 0%, #3ab6da 100%);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.header_bottom {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 70px;
  text-align: center;
}
.header_bottom img {
  padding-top: 12px;
}

.webinar {
  min-height: 630px;
  padding: 88px 0 75px 0;
  margin: 0 auto;
  background-color: #efefef;
}
.webinar_header {
  text-align: center;
}
.webinar_header h3 {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: 18px;
}
.webinar_header .line {
  width: 220px;
  height: 4px;
  background: #f9bf3b;
  margin: 0 auto 18px;
}
.webinar_header p {
  font-weight: 400;
  font-size: 23px;
  color: #4a4a4a;
  margin-bottom: 45px;
}
.webinar_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.webinar_item {
  width: 342px;
  text-align: center;
}
.webinar_img {
  width: 100%;
}
.webinar_text {
  margin-top: 26px;
  font-weight: 300;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 21px;
}

.optimization {
  position: relative;
  min-height: 552px;
  margin: 0 auto;
}
.optimization_img {
  position: absolute;
  left: 164px;
  top: 0;
  z-index: -1;
  padding-top: 47px;
}
.optimization_text {
  position: absolute;
  right: 370px;
  top: 89px;
  margin-bottom: 25px;
  width: 750px;
}
.optimization_text h4 {
  font-weight: 900;
  font-size: 29px;
  text-transform: uppercase;
  color: #299cbd;
}
.optimization_text div {
  padding-bottom: 25px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}
.optimization_text .bold {
  font-weight: 900;
}

.finish {
  height: 450px;
  margin: 0 auto;
  padding: 86px 0 68px;
  background: url(../img/bg/second_bg.jpeg) center center/cover no-repeat;
}
.finish_header {
  text-align: center;
}
.finish_header h4 {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #efefef;
}
.finish_header .line {
  width: 220px;
  height: 4px;
  background: #f9bf3b;
  margin: 18px auto 39px;
}
.finish_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.finish_item {
  width: 204px;
}
.finish_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
}
.finish_text {
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #efefef;
}

.gift {
  min-height: 631px;
  margin: 0 auto;
  padding: 88px 0;
  text-align: center;
  background-color: #efefef;
}
.gift_img {
  margin-bottom: 45px;
}
.gift_text {
  width: 1161px;
  height: 113px;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  color: #252525;
  margin-bottom: 51px;
}

.first {
  min-height: 512px;
  margin: 0 auto;
  padding: 81px 0 52px;
  text-align: center;
}
.first_img {
  margin-bottom: 36px;
}
.first_text {
  width: 687px;
  height: 31px;
  margin: 0 auto;
}
.first_1 {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #252525;
  margin-bottom: 30px;
}
.first_2 {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: #299cbd;
  margin-bottom: 24px;
}
.first_3 {
  font-weight: 400;
  font-size: 23px;
  color: #4a4a4a;
}

.footer {
  min-height: 169px;
  margin: 0 auto;
  padding: 57px 0 69px;
  background: #1a1a1a;
}
.footer_text {
  margin: 0 auto;
  text-align: center;
  width: 407px;
  height: 43px;
}
.footer .top {
  font-weight: 300;
  font-size: 15px;
  text-decoration-line: underline;
  color: #888888;
}
.footer .bot {
  font-weight: 300;
  font-size: 15px;
  color: #888888;
  text-decoration: none;
}