* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  width: 286px;
  margin: 0 auto;
  padding-top: 31px;
}

.shape-yellow {
  width: 398px;
  margin: 70px 1235px 964px 600px;
}

.about_text {
  font-size: 100px;
  color: #000000;
  font-weight: bold;
  font-family: "Myriad Pro";
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}